
input{
    width: 50%;
    height: 50px;
}

button {
    width: 6%;
height: 50px;
margin: 10px;
font-size: 15px;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}